<article>
  <header>THIS SITE IS CURRENTLY UNDER CONSTUCTION.</header>
  <section class="post">
    <header><em>From the author:</em></header>
      <div class="post-body">
        <p>The subject of dreams has always fascinated me.  How does our sleeping mind script the fantastical plots of our dreams?  Why are certain subjects revisited over and over again while others appear for no apparent reason?  Are they really the inner wishes and fears of our subconscious as many psychologists have theorized, or are they the result of random firings of the neurons in our brain?</p>
        <p>What makes dreams truly unique though, is they are the one part of us that is one hundred percent private.  In this day and age, there is nothing that anyone with the proper tools and technical savvy can’t find out anything about you:  where you were born, your banking information, who you took to the senior prom, how many speeding tickets you’ve received, medical history, even your genetic code.  As of yet though, there is no technology available to see the dreams of a sleeping person’s mind.</p>
        <p>In high school, I once had a friend ask if I had the ability to see someone else’s dreams, would I want to.  My knee jerk reaction was to say yes, but the more I thought about it, the more I realized how deeply personal our dreams are.  The truth is, I wouldn’t want anyone to see my deepest darkest fears and wishes.  Would you?</p>
        <p><em>Dream Keeper</em> is a novel I have written that examines this question.  Madeline, the protagonist, is in a horrible car accident and suffers traumatic brain injury.  While recovering in the hospital, she comes to realize that the dreams she is having at night do not belong to her, but rather to the other patient in her room.  Madeline struggles to make sense of this, but becomes more and more isolated from her friends and family as the dreams of others get stronger and more frequent.  Finally moving to a remote cabin on the side of a mountain in Vermont, she thinks she has distanced herself enough from people to bring her some peace.  An interesting cast of local characters befriend her though and she is once again drawn into a voyeuristic dream world that is at times heartbreaking and at others, terrifying when she appears to be witnessing a murder.</p>
        <p>The final rewrite is being completed now and will hopefully be off to an editor by the end of the year.  Stay tuned and thank you for visiting the page!</p>
      </div>
    <footer>
      <p>S.A. Robinson</p>
      <time>April 2017</time>
    </footer>
  </section>
</article>
