// VARIABLES
// Typography
$font-stack: 'Gill Sans', sans-serif; // Colors
// sat = saturation
// tpt = transparent
$black-tpt: rgba(0,0,0,0.25);
$low-sat-blue: #35525d;
$bright-blue: #00B2FF;
$full-sat-blue: #006c94;
$orange: #F4BB00;
$dark-green: #0A2A0E;
$med-gray: #555;
$dark-gray: #1c2b31;
$light-gray: #888;
// OVERRIDES
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body,
html {
  margin: 0;
  height: 100%;
  font-family: $font-stack;
}

body,
h1,
h2,
h3 {
  font-weight: 300;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: #5aadbb;
  }
}

body {
  @media (min-width: 700px) {
    // Thanks to Frank Chimero and
    // his website for this bit,
    // and some related others below.
    margin-left: 240px;
  }
}
// COMPONENTS
// Main

app-main {
  min-height: 100%;
}
// Header
app-header > header {
  background-color: $dark-gray;
  color: white;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.logo {
  font-weight: bold;
  @media (min-width: 700px) {
    font-size: 3rem;
    flex: 1;
    order: 1;
  }
}

.logo-image {
  @media (max-width: 699px) {
    display: none;
  }

  @media (min-width: 700px) {
    flex: 1;
    order: 2;
  }
}

.social-media-links {
  font-size: 1.5em;
  padding-top: 1rem;
  @media (min-width: 700px) {
    flex: 1;
    order: 3;
  }

  @media (min-width: 1000px) {
    bottom: 50%;
  }

  a {
    color: $light-gray;
  }
}
// Article
app-article > article {
  background-color: #fff;
  color: $dark-gray;
  padding: 0 1rem;
  line-height: 175%;
  @media (min-width: 700px) {
    margin: 0;
    padding: 0 1rem 0 3rem;
  }
  @media (min-width: 1000px) {
    padding: 0 3rem 0 5rem;
  }
}

article > header {
  border-bottom: 0.1rem solid white;
  @media (min-width: 700px) {
    padding-top: 1rem;
  }
}

.post {
  padding: 1rem 0;
  @media (min-width: 700px) {
    margin: 0;
    padding: 1rem 0 2rem;
  }
}

.post-body {
  display: flex;
  flex-direction: column;
}

.post > header {
  font-style: italic;
  font-weight: lighter;
  line-height: 100%;
}

.post > footer {
  font-style: italic;
  font-weight: lighter;
  line-height: 50%;
}
// Footer
app-footer > footer {
  color: $med-gray;
  text-align: right;
  line-height: 200%;
  padding-right: 1rem;
  @media (min-width: 700px) {
    bottom: 0;
    font-size: 3rem;
    line-height: 100%;
    text-align: right;
    padding: 0 1rem 0 5rem;
  }
}

.copyright {
  font-size: 0.75rem;
}
// Sidebar
.sidebar {
  @media (min-width: 700px) {
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }
}

